body {
  background: #b7a89f;
  margin: 0;
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
.swiper{
  width: 960px;
  
}
*/
.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 450px;
  height: 450px;
  box-shadow: 0  2px 55px rgba(204, 183, 183, 0.452);
  border-radius: 10px;
  margin: 15px;
}


